

*{
    margin: 0;
    padding: 0;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;


}
.logo{
    cursor: pointer;
    color: #ffffff;
}
.nav-links{
    padding-top:60px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    font-size: 17px;
    
}
.nav-link{
    text-decoration: none;
    color:white;
  
}
.nav-link:hover{
    text-decoration: underline;
    
}
.banner{
    background-image: linear-gradient(
        rgb(244, 0, 118),
        rgba(235, 138, 213, 0.3),
        rgba(217, 141, 194, 0)
    ), url("/img/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60vh;
    height: 95vh;
   
}

.banner-content {
    display: flex;
    flex-direction: column; /* stack h1, p, buttons vertically */
    align-items: center;    /* center horizontally */
    text-align: center;
    padding-top: 10%;
}
#welcome{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
#btn{
   border: 2px solid pink;
   background-color: pink;
   color: #000000;
    padding:10px;
    border-radius: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.btn-content-banner {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 20px;
   
}
#btn:hover{
    cursor: pointer;
}

/* Parent menu */
.has-dropdown {
  position: relative;
}

/* Hide dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: pink;
  min-width: 60px;
  list-style: none;
  padding: 0;

}

/* Show dropdown on hover */
.has-dropdown:hover .dropdown {
  display: block;
}

/* Dropdown links */
.dropdown li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.dropdown li a:hover {
  background: #ffffff;
}



/* need dev */
.search{
    background: none;
    border:2px solid white;
    border-radius: 10px;
    width: 20vh;
    height: 4vh;
    outline: none;
    box-shadow: none;
   
  
}



.search:hover{
    border-color: rgb(112, 0, 217);
   
}
#header1{
    text-align: left;
    color:rgb(0, 0, 0);
}
.introduce{
    display: flex;
    justify-content: center;
    text-align: start;
    gap: 100px;
    margin: 50px;
    
}

.card{
    display: flex;
  
    justify-content: center;
    gap: 2rem;
    margin:80px;
   
}
.card h1{
    color:rgb(0, 0, 0);
    padding: 7px;
}
.c-flower{
   border-style:0.5px solid black ;
   box-shadow:1px 1px 1px 1px #534c4c;
   padding: 5px;
   border-radius: 0.5rem;
}
#header2{
    color: rgb(76, 0, 76);
    text-align: center;

}
@media screen and (max-width:100px) {
    .header{
        flex-direction: column;
        text-align: center;
        gap: 10px;
        
    }
    .banner{
         height: 80vh;
    }
    .banner-content{
        padding: 0;
        height: 100vh;
        text-align: center;
    }
    .card{
       display: grid; 
       grid-template-columns: 1fr;

    }
    
}
@media screen and (max-width:700px) {
    .header{
        flex-direction: column;
        text-align: center;
        gap: 10px;
        
    }
    .banner{
         height: 80vh;
    }
    .banner-content{
        padding: 0;
        height: 100vh;
        text-align: center;
    }
    .card{
       display: grid; 
       grid-template-columns: 1fr;

    }
    .introduce{
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
    }
    
}
.product1{
    display: grid;
     grid-template-columns: repeat(4,1fr);
    

}
@media screen and (max-width:992px){
    .header{
        flex-direction: column;
        text-align: center;
        gap:10px
    }
    .banner{
        padding: 0;
        height: 100vh;
        text-align: center;

    }
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
}
